<tr>
	<td><b> Número de preguntas: </b></td> <td><%= stat.numQuizes %></td></br>
</tr>
<tr>
	<td><b> Número de comentarios totales: </b></td> <td><%= stat.numComments %></td></br>
</tr>
<tr>
	<td><b> Número medio de comentarios por pregunta: </b></td> <td><%= stat.meanComments %></td></br>
</tr>
<tr>
	<td><b> Número de preguntas sin comentarios: </b></td> <td><%= stat.quizesNoComments %></td></br>
</tr>
<tr>
	<td><b> Número de preguntas con comentarios: </b></td> <td><%= stat.quizesComments %></td></br>
</tr>